{{ define "main" }}
  <div class="projects-content">
    {{ partial "title" . }}
    {{ partial "try_video" . }}
    {{ partial "try_images" . }}
    {{ partial "try_links" . }}
    {{ partial "try_tags" . }}
    {{ if .Params.blurb }}
    <div class="d-flex justify-content-center">
      <div class="project-blurb readable text-center" >
        {{ .Params.blurb }}
      </div>
    </div>
    {{ end }}
    <div class="row justify-content-center readable">
      {{ .Content }}
    </div>
  </div>
{{ end }}
