.album {
}
.card {
  float: center;
  margin-bottom: 1rem;
  border: 0;
  text-align: center;
  background: #191919;
  width: 22rem;
}

.card-img-top:focus + .card-body,
.card-img-top:hover + .card-body,
.card-body:focus,
.card-body:hover {
  background: #4c4c4c;
}

.card-body a {
    &:focus,
    &:hover {
       color: #999999;
    }
}

.card-body {
  background: #333;
}

.card-text {
    font-size: 75%;
}

