.album {
}
.card {
  float: left;
  margin-bottom: 1rem;
  border: 0;
  text-align: center;
}

.card-body {
    background: #333;
}
.card h5 {
  margin-bottom: 0;
}

.card-text {
    font-size: 80%;
}

