@import '../../../../bootstrap/_functions.scss';
@import '../../../../bootstrap/_variables.scss';
@import '../../../../bootstrap/mixins/_breakpoints.scss';

$background_color1: #191919;
$background_color2: #333333;
$background_color3: #4c4c4c;
$color1: #e5e5e5;
$link_color1: #b2b2b2;
$link_color2: #cccccc;
$link_color3: #ffffff;


body {
  font-size: 1.2rem;
}

body {
    background: $background_color1;
    color: $color1;
    font-family: -apple-system, BlinkMacSystemFont, "Avenir Next", "Avenir",
    "Segoe UI", "Lucida Grande", "Helvetica Neue", "Helvetica", "Fira Sans",
    "Roboto", "Noto", "Droid Sans", "Cantarell", "Oxygen", "Ubuntu",
    "Franklin Gothic Medium", "Century Gothic", "Liberation Sans", sans-serif;
    text-align: left;
}

a {
   color: $link_color1;

   &:focus,
   &:hover {
       color: $link_color3;
   }
}

a:focus, a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
}

.blockquote {
    background: $background_color2;
}

.jumbotron {
    background: $background_color2;
}

.table th {
   color: $color1;
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 768px) 
{ 
    .table {
       white-space: nowrap;
       width: 1%;
    }
}

td a div {
    width: 100%;
    height: 100%;
}

td a div:focus,
td a div:hover {
    background: $background_color2;
}

.album {
}

.card {
  float: center;
  margin-bottom: 1rem;
  border: 0;
  text-align: center;
  background: $background_color1;
  width: 22rem;
}

/* override link color to make the text more visible. */
.card-title,
.card-subtitle,
.card-text {
   color: $color1;

   &:focus,
   &:hover {
       color: $color1;
   }
}

.card-body {
  background: $background_color2;
}

/* highlight the card-body when any part of the card is highlighted. */
.card:focus > .card-body,
.card:hover > .card-body,
{
  background: $background_color3;
}

/* override the focus/hover attributes for links from site.css stop the text from changing color. */
.card-body a {
    &:focus,
    &:hover {
       color: $link_color1;
    }
}

.card-text {
    font-size: 75%;
}
