@import '../../../../bootstrap/_functions.scss';
@import '../../../../bootstrap/_variables.scss';
@import '../../../../bootstrap/mixins/_breakpoints.scss';

body {
  font-size: 1.2rem;
}

body {
    background: #191919;
    color: #e5e5e5;
    font-family: -apple-system, BlinkMacSystemFont, "Avenir Next", "Avenir",
    "Segoe UI", "Lucida Grande", "Helvetica Neue", "Helvetica", "Fira Sans",
    "Roboto", "Noto", "Droid Sans", "Cantarell", "Oxygen", "Ubuntu",
    "Franklin Gothic Medium", "Century Gothic", "Liberation Sans", sans-serif;
    text-align: left;
}

a {
   color: #999999;

   &:focus,
   &:hover {
       color: #e5e5e5;
   }
}

a:focus, a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
}

.blockquote {
    background: #333333;
}

.jumbotron {
    background: #333333;
}

.table th {
    color: #e5e5e5;
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 768px) 
{ 
    .table {
       white-space: nowrap;
       width: 1%;
    }
}

td a div {
    width: 100%;
    height: 100%;
}

td a div:focus,
td a div:hover {
  background: #4c4c4c;
}
