<% wrap_layout :layout do %>
  <div class="container">
    <%= page_title(current_page.data.title) %>
    <%= page_links(current_page) %>
    <div class="row justify-content-center readable">
          <%= yield %>
    </div>
  </div>
<% end %>
