<% wrap_layout :layout do %>
    <h1>
        <%= current_page.data.title %> Review
    </h1>
    <%= link_to "Store Link", current_page.data.store_link %>
    <p>playtime: <%= current_page.data.playtime_hours %>h</p>
    <p>
        <% if current_article.tags.include?('thumbs_up') %>
            thumbs up
        <% else %>
            thumbs down
        <% end %>
    </p>
    <%= yield %>
<% end %>
