{{ define "main" }}
  <div class="food-content">
    {{ partial "title" . }}
    {{ partial "try_links" . }}
    {{ partial "try_tags" . }}
    {{ if .Params.blurb }}
      <div class="d-flex justify-content-center">
        {{ .Params.blurb }}
      </div>
    {{ end }}
    {{ partial "try_video" . }}
    {{ partial "try_images" . }}
    {{ if .Params.servings }}
      <div class="d-flex justify-content-center">
        Serves
        {{ .Params.servings }}
      </div>
    {{ end }}
    {{ if .Params.ingredients }}
      <div class="d-flex justify-content-center">
        <h2>Ingredients</h2>
      </div>
      <div class="d-flex justify-content-center">
        <ul class="post-bullet-list">
          {{ range $index, $val := .Params.ingredients }}
            <li>{{ $val | markdownify }}</li>
          {{ end }}
        </ul>
      </div>
    {{ end }}
    {{ if .Params.steps }}
      <div class="d-flex justify-content-center">
        <h2>Steps</h2>
      </div>
      <div class="d-flex justify-content-center">
        <ol class="post-bullet-list">
          {{ range $index, $val := .Params.steps }}
            <li>{{ $val | markdownify }}</li>
          {{ end }}
        </ol>
      </div>
    {{ end }}
    {{ if .Content }}
      <div class="d-flex justify-content-center">
        <h2>Notes</h2>
      </div>
      <div class="notes d-flex justify-content-center">
        {{ .Content }}
      </div>
    {{ end }}
  </div>
{{ end }}
