{{ define "title" }}
{{ end }}

{{ define "main" }}

{{ $num_posts := 3 }}
{{ $num_finished_books := 3 }}
<div class="row justify-content-center text-center page-title">
  <div class="col h1">
    What I'm reading now (<a href="/books/">more</a>)
  </div>
</div>
<span data-pagefind-ignore>
  <div class="row">
    {{ range .Site.RegularPages }}
    {{ if eq .Section "books" }}
    {{- if (in (index .Params "books/tags") "currently-reading") -}}
    {{ .Render "summary" }}
    {{ end }}
    {{ end }}
    {{ end }}
  </div>
</span>


<div class="row justify-content-center text-center page-title">
  <div class="col h1">
    What I've read recently (<a href="/books/">more</a>)
  </div>
</div>
<span data-pagefind-ignore>
  <div class="row">
    {{ $i := 0 }}
    {{ range .Site.RegularPages }}
    {{ if eq .Section "books" }}
    {{- if not ((in (index .Params "books/tags") "currently-reading")) -}}
    {{ .Render "summary" }}
    {{ $i = add $i 1}}
    {{ if gt $i $num_finished_books }}
    {{ break }}
    {{ end }}
    {{ end }}
    {{ end }}
    {{ end }}
  </div>
</span>

<div class="row justify-content-center text-center page-title">
  <div class="col h1">
    What I've written recently (<a href="/blog/">more</a>)
  </div>
</div>
<span data-pagefind-ignore>
  <div class="row">
    {{ $i = 0 }}
    {{ range .Site.RegularPages }}
    {{ if eq .Section "blog" }}
    {{ .Render "summary" }}
    {{ $i = add $i 1}}
    {{ if gt $i $num_posts }}
    {{ break }}
    {{ end }}
    {{ end }}
    {{ end }}
  </div>
</span>


{{ end }}