{{ if not .Params.exclude_from_summary }}
{{ $is_books := eq .Section "books" }}
{{ $is_ramble_blog_post := and (eq .Section "blog")  (in (index .Params "blog/tags") "ramble") }}
<article class="post-summary">
  {{ $is_less_important := in (index .Params "blog/tags") "ramble" }}
  {{ $summary_classes := cond $is_less_important "less-important" "" }}
  {{ if .Params.use_blog_summary }}
    {{ $thumbnail := .Resources.GetMatch "thumbnail.*" }}
    {{ if $thumbnail }}
      <div class="row">
        <a href='{{ .Permalink }}'>
          {{ with $thumbnail.Resize "x400 webp" }}
          <img loading="lazy" class="img-fluid rounded mx-auto d-block" src="{{ .RelPermalink }}">
          {{ end }}
        </a>
      </div>
    {{ end }}
  {{ end }}
  <div class="row summary-row {{ $summary_classes }}">
  {{ if .Params.use_album_summary }}
    {{ $thumbnail := .Resources.GetMatch "thumbnail.*" }}
    {{ if $thumbnail }}
      <div class="col">
        <a href='{{ .Permalink }}'>
          {{ with $thumbnail.Resize "x400 webp" }}
          <img loading="lazy" class="img-fluid rounded mx-auto d-block" src="{{ .RelPermalink }}">
          {{ end }}
        </a>
        <h2 class="summary-title text-center">
          {{ partial "try_star_rating" . }}
        </h2>
      </div>
    {{ end }}
  {{ end }}
    <div class="col-sm-8 align-self-center">
      <h2 class="summary-title">
        <a href='{{ .Permalink }}'>
          {{ .Render "title_text" }}
          {{ if $is_books -}}
            {{ $authors := (.GetTerms "authors" ) }}
              {{ if $authors }}
              by
              {{ $i := 0 }}
              {{ range $authors }}
                {{- if (ge $i 1) -}} , {{- end -}}
                {{ $pretty_author := index $.Site.Data.tag_mapping .LinkTitle | default .LinkTitle }}
                {{ $pretty_author }}
                {{ $i = add $i 1 }}
              {{- end -}}
            {{- end -}}
          {{- end -}}
        </a>
      </h2>
      {{ if not .Params.use_album_summary }}
        <div class="row post-meta">
          <div class="col-auto align-self-center">
            {{- .Date.Format "Mon, Jan 2, 2006" }}
            {{- $reading_time := .ReadingTime -}}
            {{- if ne $reading_time 0 }}
            - {{ $reading_time }}min read
            {{- end -}}
          </div>
          {{ if not $is_ramble_blog_post }}
          <div class="col float-right">
            {{ partial "try_tags" . }}
          </div>
          {{ end }}
        </div>
        {{ if not $is_ramble_blog_post }}
        {{ .Summary }}
        {{ end }}
      {{ else }}
      <div>
      {{ if $is_books -}}
        {{- if eq .Params.weight 1 -}}
        Currently reading...
        {{- else -}}
        Date read: {{ .Date.Format "Mon, Jan 2, 2006" }}
        {{- end -}}
      {{- end -}}
      </div>
      <div>
      {{ if .Summary }}
        {{ .Summary }}
      {{ end }}
      <div class="col float-right">
        {{ partial "try_tags" . }}
      </div>
      </div>
      {{ end }}
  </div>
  <div class="row read-more">
    <div class="col">
      <a class="float-right" href='{{ .Permalink }}'><nobr>
        {{ if not .Params.use_album_summary }}
        Read more →
        {{ else }}
        Check it out →
        {{ end }}
        </nobr>
      </a>
    </div>
  </div>
</article>
{{ end }}
