{{ $is_books := eq .Section "books" }}
{{ $is_owned_but_unread_book := and $is_books (in (index .Params "books/tags") "owned-but-unread") }}

{{ if not .IsNode }}
{{ if and (not .Params.exclude_from_summary) (not $is_owned_but_unread_book) }}
{{ $more_to_read := ne (len (trim .Summary " \n\r")) (len (trim .Content " \n\r"))}}
{{ $is_blog := eq .Section "blog" }}
{{ $is_ramble_blog_post := and $is_blog (in (index .Params "blog/tags") "ramble") }}
<article class="post-summary">
  {{ $is_less_important := in (index .Params "blog/tags") "ramble" }}
  {{ $summary_classes := cond $is_less_important "less-important" "" }}
  <div class="row summary-row {{ $summary_classes }} justify-content-center">
  {{ $thumbnail := .Resources.GetMatch "thumbnail.*" }}
  {{ if $thumbnail }}
    <div class="col-7 col-sm-5 col-md-4">
      {{ $lazy_loading := "eager" }}
      {{ if .NextInSection }}
        {{ $lazy_loading = "lazy" }}
      {{ end }}
      {{ partial "img" (dict
      "widths" (slice 200 300)
      "src" "thumbnail.*"
      "ctx" .
      "class" "img-fluid rounded mx-auto d-block"
      "alt" "Thumbnail"
      "loading" $lazy_loading
      ) }}
      {{ if and .Params.star_rating }}
      <div class="star_rating text-center">
        {{ partial "try_star_rating" . }}
      </div>
      {{ end }}
    </div>
  {{ end }}
    <div class="col-md-8 align-self-center">
      <div class="summary-title h2">
        <a href='{{ .Permalink }}'>
          {{ .Render "title_text" }}
        </a>
      </div>
      <div class="row post-meta">
        <div class="col-mx-auto align-self-center">
            <div class="row">
            {{ $authors := (.GetTerms "authors" ) }}
              <div class="col">
                <div class="row">
                  {{ if $authors }}
                    {{ range $authors }}
                    <div class="col-12">
                      {{ $pretty_author := index $.Site.Data.tag_mapping .LinkTitle | default .LinkTitle }}
                      <a href="{{ .RelPermalink }}"> {{ $pretty_author }}</a>
                    </div>
                    {{- end -}}
                  {{- end -}}
                  <div class="col-12">
                    {{ if $is_books -}}
                      {{- if eq .Params.weight 1 -}}
                      Reading...
                      {{ else }}
                      Finished on: {{ .Date | time.Format ":date_full" }}
                      {{- end -}}
                    {{ else if .Params.date }}
                      {{- .Date | time.Format ":date_full" }}
                    {{ else }}
                      {{- .Lastmod | time.Format ":date_full" }}
                    {{- end -}}
                  </div>
                  {{ if $more_to_read }}
                  {{- $reading_time := .ReadingTime -}}
                  {{- if and (ne $reading_time 0) (or $is_blog $is_books) }}
                  <div class="col-12">
                      ({{ $reading_time }}min read)
                  </div>
                  {{- end -}}
                  {{ end }}
                </div>
              </div>
              {{- if not $is_ramble_blog_post -}}
              <div class="col align-self-end">
                {{ partial "try_tags" . }}
              </div>
              {{- end -}}
            </div>
        </div>
      </div>
      {{ partial "try_links" . }}
      {{ if not $is_ramble_blog_post }}
      {{ .Summary }}
      <div class="col read-more">
        <a aria-labelledby="more" class="float-right" href='{{ .Permalink }}'>
          {{ if $more_to_read }}
          <span style="white-space: nowrap;"><h4 id="more">More →</h4></span>
          {{ end }} 
        </a>
      </div>
      {{ end }}
  </div>
</article>
{{ end }}
{{ end }}