@import "../../node_modules/bootstrap/scss/bootstrap";

$colors: #00080f #f2f2f2 #00ff11 #202020;

$bg_dark: nth($colors, 1);
$bg_light: nth($colors, 4);
$link_base: nth($colors, 3);
$link_print: nth($colors, 1);
$color_base: nth($colors, 2);
$link_highlight: nth($colors, 2);

:root {
  --pagefind-ui-background: $bg_light !important;
  --pagefind-ui-primary: $color_base !important;
  --pagefind-ui-text: $color_base !important;
  --pagefind-ui-border: $bg_light !important;
  --pagefind-ui-tag: $color_base !important;
}

@media screen {
  body {
    background: $bg_dark;
    color: $color_base;
  }

  .table td,
  .table th {
    color: $color_base;
  }

  a,
  a > li {
    color: $link_base;
    text-decoration: underline !important;
    text-decoration-color: $link_base;

    &:focus,
    &:hover,
    &:active {
      color: $link_highlight;
      text-decoration-color: $link_highlight;
      background: $bg_light;
    }
  }
}

@page {
  size: auto;
  /* auto is the initial value */

  /* this affects the margin in the printer settings */
  margin: 1mm 1mm 1mm 1mm;
}

@media print {
  .cv-name {
    font-weight: bold;
  }

  .text-center {
    text-align: left !important;
  }

  .print-display-none {
    display: none !important;
  }

  .recipe-step-item {
    font-size: 1.1rem !important;
  }

  .ingredient-list-item {
    font-size: 1rem !important;
  }

  .cv-bullet-item {
    font-size: 1rem !important;
  }

  .cv-main-entry-bullets {
    font-size: 1rem !important;
  }

  .cv-main-entry-title {
    font-size: 1.2rem !important;
  }

  .cv-main-title {
    font-size: 1.4rem !important;
    font-weight: bold;
  }

  .end-page {
    padding-bottom: 0em !important;
  }

  .cv-main-entry {
    border-left: 0px solid $bg_light !important;
    border-bottom: 0px solid $bg_light !important;
    margin-bottom: 0em !important;
    margin-top: 0em !important;
  }

  .cv-main-section {
    margin-top: 0em !important;
  }
  .icon-filter {
    filter: none;
  }

  header,
  footer,
  aside,
  nav,
  form,
  iframe,
  .menu,
  .hero,
  .adslot,
  .cv-download-link,
  .menu-buttons {
    display: none !important;
  }

  body {
    background: white;
    color: black;
  }

  .table td,
  .table th {
    color: black;
  }

  a {
    color: $link_print;

    &:focus,
    &:hover,
    &:active {
      color: $link_print;
    }
  }
}

body {
  font-family: sans-serif;
  text-align: left;
  letter-spacing: 0;
  font-weight: 400;
  line-height: 1.8;
}

h1 {
  font-size: 2rem;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: serif;
}

.readable,
.cv-readable,
.readable-wide,
.readable-wide-thin {
  margin: auto;
}

.previous-article-link,
.next-article-link {
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Footer */
.footer {
  margin-top: 0.5em;
  padding-left: 5px;
  padding-right: 5px;
}

.author-blurb {
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0.3em;
}

hr + ol {
  padding-left: 0;
}

.footnotes {
  font-size: 0.95rem;
}

.footer-paginator-previous,
.footer-paginator-next {
  font-size: 0.95rem;
}

.footer-tags {
  margin-top: 1em;
  margin-bottom: 1em;
}

.footer-shortlist-title {
  margin-top: 0.25em;
}

.footer-paginator-previous {
  margin-top: 0.25em;
}

.footer-shortlist-parent {
  text-align: center;
}

.footer-shortlist-parent > .footer-shortlist-list {
  display: inline-block;
}

.footer-shortlist-list {
  width: 100%;
  font-size: 0.95rem;
  padding-inline-start: 0px;
  list-style-type: none;
}

.img-paranoia {
  margin: 2px;
}

.footer-shortlist-item {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 1rem;
  margin-left: 0;
}

.footer-shortlist-archive {
  font-size: 1rem;
  margin-left: 0;
}

.table {
  border-collapse: collapse;
}

.table td,
.table th {
  border: 1px solid $bg_light;
  padding: 0.5em;
}

// Journals
blockquote {
  width: 87.5% !important;
  margin-bottom: 0.5em;
  background-color: $bg_light;
  border: 2px $bg_light;
  border-style: solid;
  border-color: $bg_dark;

  p {
    margin-left: 0.1em;
    color: $color_base;
  }
}

p {
  display: block;
  margin-block-start: 0.365em;
  margin-block-end: 0.365em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  width: 100%;
}

.post-summary {
  margin-top: 0.25em;
  margin-bottom: 0.25em;
}

.mermaid {
  width: auto;
}

.page-title {
  margin-bottom: 0.25em;
}

.page-reading-time {
  font-style: italic;
}

a:focus,
a:hover,
a:visited,
a:link,
a:active {
  text-decoration: none;
}

.project-blurb {
  margin-top: 0.5em;
  background: $bg_dark;
  outline: 0.2em solid $bg_dark;
  font-size: larger;
}

.notes > ul,
.notes > ol,
.post-bullet-list {
  padding-left: 0;
}

// Remove this unneeded margin that messes up the page links
ul.list-inline {
  margin: 0;
}

.d-flex-inline-list {
  font-size: 1.5rem;
}

.ul-inline {
  margin: 5px;
}

.li-inline {
  margin-left: 5px;
  margin-right: 5px;
}

/* CV */
a.cv-anchor {
  display: block;
  position: relative;
  top: -75px;
  visibility: hidden;
}

.cv-name {
  margin-top: 0.4em;
}

.cv-content {
  margin-top: 0.5em;
}

.cv-main-section {
  margin-top: 0.4em;
}

.cv-main-title {
  margin-bottom: 0;
}

.cv-main-entry-title {
  margin-bottom: 0;
}

.cv-main-entry-title,
.cv-main-entry-year,
.cv-main-entry-tech,
.cv-main-entry-hint {
  white-space: nowrap;
}

.cv-main-entry {
  border-left: 2px solid $bg_light;
  border-bottom: 2px solid $bg_light;
  margin-bottom: 0.2em;
  margin-top: 0.1em;
}

.cv-bullet-item {
  margin-left: 0rem;
  font-size: 0.95rem;
}

.cv-main-entry-bullets {
  font-size: 0.95rem;
}

.avatar-static {
  background: white;
  width: 32px;
  height: 32px;
}

// Blog
.blog-call-to-action {
  margin-top: 2.5em;
  margin-bottom: 2.5em;
}

// Make audio files not have bottom margin
figure {
  margin: 0 0 0 0;
}

.no-margin {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}

.less-important {
  opacity: 0.65;
  font-size: 0.9rem;
}

.float-right {
  float: right;
}

.float-left {
  float: left;
}

.summary-title {
  margin: 0;
  padding-bottom: 0.1em;
}

.summary-row {
}

.summary-thumbnail-and-rating {
  border: $bg_light;
  border-style: outset;
}

.all-tags {
  text-align: center;
}

.summary-title > a {
  font-size: 1.3rem;
}

.author > a {
  white-space: nowrap;
}
.author > a,
.reading-time,
.page-date {
  font-size: 0.9rem;
}

.tag {
  font-size: 1rem;
}

.summary-text > p,
.summary-text > blockquote > p,
.summary-text > blockquote > ul > li > p,
.summary-text > blockquote > ul > li,
.summary-text > blockquote > ol > li > p,
.summary-text > blockquote > ol > li,
.summary-text > ul > li > p,
.summary-text > ul > li,
.summary-text > ol > li > p,
.summary-text > ol > li {
  font-size: 0.95rem;
}

.menu-button {
  pointer-events: auto;
}

.btn-toolbar {
  text-align: center;
}

// Captions for images, videos, audio files and youtube embeds
dd > em,
img + em,
video + p > em,
blockquote + p > em,
div + p > em,
div > em,
.caption {
  text-align: center;
  display: block;
  font-size: 0.95rem;
  margin-bottom: 1.5em;
}

li,
ul {
  .active {
    background: antiquewhite;
  }
}

.explorer-info-link {
  background: white !important;
}

.menu-buttons {
  margin-top: 0.1em;
  margin-bottom: 0.1em;
}

.explorer-footer-button {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 50%;
  position: fixed;
  bottom: 15px;
  z-index: 99;
}

#explorer-footer-button-another {
  right: 0px;
}

#explorer-footer-button-share {
  right: 100px;
}

// Bootstrap tweak

.list-inline-item {
  margin-left: 0.75rem;
  margin-right: 0;
}

.readable-footer {
  margin: 0;
}

.btn-dark,
.btn-outline-dark {
  background-color: $bg_dark;
}

.btn-dark:hover,
.btn-outline-dark:hover {
  color: $bg_dark;
  background-color: $bg_dark;
  border-color: $bg_light;
}

.offcanvas {
  --#{$prefix}offcanvas-width: #{$offcanvas-horizontal-width};
  --#{$prefix}offcanvas-height: auto;
  --#{$prefix}offcanvas-padding-x: 0;
  --#{$prefix}offcanvas-padding-y: 0;
  --#{$prefix}offcanvas-bg: transparent;
  --#{$prefix}offcanvas-border-width: 0;
  pointer-events: none;
}

@include media-breakpoint-down(xs) {
}

@include media-breakpoint-down(sm) {
  .desktop-only {
    display: none;
  }
}

// On md size and down, the third column (tags) is not shown therefore hide the next columns border.
@include media-breakpoint-down(md) {
  .table tr td:nth-last-child(2),
  .table tr th:nth-last-child(2) {
    border-right: 0;
  }
}

@include media-breakpoint-down(lg) {
}

@include media-breakpoint-down(xl) {
  .offcanvas-left {
    display: none;
  }
}

@include media-breakpoint-up(xs) {
  .cell-display {
    width: 175px;
  }

  p,
  li,
  em {
    font-size: 1.1rem;
  }

  .cv-main-entry-title {
    font-size: 1.02rem;
  }

  .cv-main-title {
    font-size: 1.2rem;
  }
}

@include media-breakpoint-up(sm) {
  .cell-display {
    width: 225px;
  }
}

@include media-breakpoint-up(md) {
  // Center the navbar menu options when they are not collapsed.
  .navbar-nav.navbar-center {
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
  }

  // Increase size when not on super small screen.
  p,
  li,
  em {
    font-size: 1.2rem;
  }

  // set the maximum with to allow for better readability.
  .readable {
    width: 600px;
  }

  // set the maximum with to allow for better readability.
  .readable-wide {
    width: 900px;
  }

  .readable-wide-thin {
    width: 750px;
  }

  .cell-display {
    width: 300px;
  }

  // Fit columns to the data.
  .table {
    white-space: nowrap;
    width: 1%;
  }

  .cv-main-entry-title {
    font-size: 1.4rem;
  }

  .cv-main-title {
    font-size: 1.6rem;
  }
}

@include media-breakpoint-up(lg) {
  .mobile-only {
    display: none;
  }
}

@include media-breakpoint-up(xl) {
  .album {
    width: 1140px;
  }
}

.spoiler,
.spoiler2,
.spoiler a,
.spoiler2 a,
.spoiler > section > p > code,
.spoiler2 > section > p > code,
.spoiler > blockquote,
.spoiler2 > blockquote,
.spoiler > blockquote > p,
.spoiler2 > blockquote > p {
  color: $bg_dark;
  background-color: $bg_dark;
}

.spoiler,
.spoiler2 {
  border-style: inset;
  border-color: $color_base;
  border-width: 3px;
}

.spoiler:hover,
.spoiler:hover a,
.spoiler:hover > blockquote,
.spoiler:hover > blockquote > p {
  color: $color_base;
}

.spoiler:hover > section > p > code {
  color: var(--bs-code-color);
}

.spoiler:hover > blockquote,
.spoiler:hover > blockquote > p,
.spoiler2:hover > section > p > code,
.spoiler2:hover > blockquote,
.spoiler2:hover > blockquote > p {
  background-color: $bg_light;
}

.spoiler2:hover,
.spoiler2:hover a {
  background-color: $color_base;
}

.spoiler img,
.spoiler2 img {
  visibility: hidden !important;
}

.spoiler:hover img {
  visibility: inherit !important;
}

.spoiler2:hover img {
  visibility: inherit !important;
}

.end-page {
  padding-bottom: 5em;
}

.search {
  padding-bottom: 0.5em;
  background: $bg_light !important;
  color: $color_base !important;
}

// RPG system css

table {
  width: 100% !important;
  white-space: wrap !important;
  border-collapse: collapse;
}

.table.table-small {
  font-size: x-small;
}

// aside table of contents

html {
  scroll-behavior: smooth;
}

#TableOfContents {
  li,
  a {
    font-size: 0.8rem;
    transition: all 100ms ease-in-out;
    pointer-events: auto;
  }
  overflow-y: scroll;
  max-height: 100vh;
}

[class^="icon_"]::after {
  display: inline-block;
  text-decoration: none;
  white-space: pre-wrap;
  margin-left: 0.25em;
  width: 1em;
}
.icon_internal::after {
  content: "\1FA9D"; /* 🪝 */
}
.icon_external::after {
  content: "\1F517"; /* 🔗 */
}

.page-number {
  text-align: right;
  padding-right: 0.5em;
}

.icon {
  height: 0.75em;
  font-size: xx-large;
}

.icon-filter {
  filter: invert(48%) sepia(90%) saturate(1456%) hue-rotate(91deg)
    brightness(118%) contrast(126%);
}

.star_rating {
  text-decoration: none !important;
}
