{{ $min_books_for_sorting := 2 }}

{{ $max_books_per_row := 6 }}

{{ $p := .Section }}

{{ if and (in (slice "blog" "reviews" "cocktails" "food" "projects") $p) }}
  {{ $p = add $p "/tags" }}
{{ end }}

{{ $is_books := eq $p "books" }}

{{ if $is_books }}
  {{ $p = "books/tags" }}
{{ end }}

{{ $is_owned_books := eq .RelPermalink "/books/owned/" }}

{{ if $is_owned_books }}
  {{ $p = "books/tags" }}
{{ end }}

{{ $is_unowned_books := eq .RelPermalink "/books/unowned/" }}

{{ if $is_unowned_books }}
  {{ $p = "books/tags" }}
{{ end }}

{{ $is_authors_page := eq $p "authors" }}

{{ $show_bookshelf := or $is_authors_page $is_owned_books $is_unowned_books $is_books }}

{{ $page_num := 0 }}
{{ $taxonomy := (index .Site.Taxonomies $p).ByCount }}
{{ if $show_bookshelf }}
  {{ $dict_to_avg_star_rating := dict }}
  {{ range $t := $taxonomy }}
    {{ $n_rating := 0.0 }}
    {{ $n := 0 }}
    {{ $pages := $t.Pages }}
    {{ range $pages }}
      {{ if and (gt .Params.star_rating 0) (ne .Params.weight 0) }}
        {{ $n_rating = add $n_rating .Params.star_rating }}
        {{ $n = add $n 1 }}
      {{ end }}
    {{ end }}
    {{ if ne $n 0 }}
      {{ $n_rating = div $n_rating $n }}
    {{ else }}
      {{ $n_rating = 0.0 }}
    {{ end }}
    {{ $score := 0 }}
    {{ $score = add $score $n_rating }}
    {{ $score = add $score (mul $n 0.15) }}
    {{ if and (lt $n $min_books_for_sorting) (ne $n 0) }}
      {{ $score = mul $score (div (div 1.0 $n) $min_books_for_sorting) }}
    {{ end }}
    {{ if eq $t.Term "currently-reading" }}
      {{ $score = add $score 10000 }}
    {{ end }}
    {{ if eq $t.Term "slay" }}
      {{ $score = mul $score 10 }}
    {{ end }}
    {{ if eq $t.Term "did-not-finish" }}
      {{ $score = 0.02 }}
    {{ end }}
    {{ if eq $t.Term "trash" }}
      {{ $score = 0.01 }}
    {{ end }}
    {{ if eq $t.Term "unowned" }}
      {{ $score = 0 }}
    {{ end }}
    {{ if eq $t.Term "owned-but-unread" }}
      {{ $score = 0 }}
    {{ end }}
    {{ $dict_to_avg_star_rating = merge $dict_to_avg_star_rating (dict $t.Term (dict "term" $t.Term "score" $score "object" $t) ) }}
  {{ end }}

  {{ $k := 0 }}
  <div class="row align-items-center data-pagefind-ignore">
    {{ $dict_to_avg_star_rating = sort $dict_to_avg_star_rating "score" "desc" }}
    {{ range $d := $dict_to_avg_star_rating }}
      {{ $term := index $d "term" }}
      {{ $score := index $d "score" }}
      {{ if and (eq $term "owned-but-unread") (not $is_owned_books) }}
        {{ continue }}
      {{ end }}
      {{ if and (eq $term "unowned") (not $is_unowned_books) }}
        {{ continue }}
      {{ end }}
      {{ $t := index $d "object" }}
      {{ if and (gt $t.Count 0) $show_bookshelf }}
        {{ if eq $t.Page.Title "Fiction" }}
          {{ continue }}
        {{ end }}
        {{ if and $is_unowned_books (ne $t.Page.Title "Unowned") }}
          {{ continue }}
        {{ end }}
        {{ if and $is_owned_books (ne $t.Page.Title "Owned-but-Unread") }}
          {{ continue }}
        {{ end }}
        {{ $i := 0 }}
        {{ $books := ($t.Pages.ByDate.ByParam "star_rating").Reverse }}
        {{ $all_books := slice }}
        {{ range $books }}
          {{ $main_book := . }}
          {{ $all_books = $all_books | append $main_book }}
        {{ end }}
        {{ $res := mod (add $k 1) $max_books_per_row }}
        {{ if or (eq $res 0) (eq $t.Term "slay") }}
          {{ $k = add $k 1 }}
          <div class="w-100"></div>
        {{ end }}

        {{ $filtered_books := slice }}
        {{ range $all_books }}
          {{ $book_tags := index .Params "books/tags" }}
          {{ if (or
            (and (in $book_tags "trash") (and (ne $t.Page.Title "Trash") (not $is_authors_page)))
            (and (in $book_tags "did-not-finish") (and (ne $t.Page.Title "Did-Not-Finish") (not $is_authors_page)))
            (and (in $book_tags "owned-but-unread") (not $is_owned_books))
            (and (in $book_tags "unowned") (and (not $is_unowned_books) (not (gt .Params.star_rating 0))))
            )
          }}
            {{ continue }}
          {{ end }}
          {{ $filtered_books = $filtered_books | append . }}
        {{ end }}

        {{ if and $filtered_books $is_owned_books }}
          {{ $filtered_books = $filtered_books.ByParam "series" }}
        {{ end }}
        {{ if eq (len $filtered_books) 0 }}
          {{ continue }}
        {{ end }}
        {{ if gt (len $filtered_books) 6 }}
        <div class="w-100"></div>
        {{ end }}
        <div class="col-lg-12 all-tags">
          <a href="{{ $t.Page.RelPermalink }}">
            <span class="h4">{{ $t.Page.Title }}</span>
          </a>
        </div>
        <hr />
        {{ $k = add $k 1 }}
        {{ range $filtered_books }}
          {{ $book_tags := index .Params "books/tags" }}
          {{ $i = add  $i 1 }}
          {{ $page_num = add $page_num 1 }}
          {{ $k = add $k 1 }}
          <div class="col col-lg-2">
            <a class="star_rating" href="{{ .Permalink }}">
              <div class="row text-center">
                <div class="col">
                  {{ partial "try_star_rating" . }}
                </div>
              </div>
              <div class="row">
                <div class="col text-center">
                  {{ $lazy_loading := "lazy" }}
                  {{ if lt $page_num 12 }}
                    {{ $lazy_loading = "eager" }}
                  {{ end }}
                  {{ $thumbnail := .Resources.GetMatch "thumbnail.*" }}
                  {{ if $thumbnail }}
                    {{ partial "img" (dict
                      "widths" (slice 100 150)
                      "aspect_ratio" "2:3"
                      "fit" "contain"
                      "src" "thumbnail.*"
                      "ctx" .
                      "class" "img-fluid rounded mx-auto"
                      "alt" "Thumbnail"
                      "loading" $lazy_loading
                      )
                    }}
                  {{ end }}
                </div>
              </div>
            </a>
          </div>
        {{ end }}
      {{ end }}
    {{ end }}
  </div>
{{ else }}
  <div class="row align-items-center data-pagefind-ignore">
    {{ range $t := $taxonomy }}
      <div class="col-12 text-center">
        <a href="{{ $t.Page.RelPermalink }}">
          {{ humanize $t.Term }}
        </a>
        ({{ len $t.Pages }} pages)
      </div>
    {{ end }}
  </div>
{{ end }}
