<div class="row justify-content-center">
  <a class="mx-auto text-center" href="/bin/">
  🗑️
  </a>
  <a class="mx-auto text-center" href="/food/">
  🍲
  </a>
  <a class="mx-auto text-center" href="/cocktails/">
  🍸
  </a>
</div>
<a href="/">
  <div class="d-flex justify-content-center footer-image">
    <img class="mx-auto avatar-static" src="/img/fe_portrait.png" alt="Strat's Avatar">
  </div>
</a>
<div class="row justify-content-center footer-content">
  <div id="greeting" class="col-12 text-center">
    ...
  </div>
  <div class="col-12 text-center">Name's Strat; I'm a rooster illusion and I write about whatever I feel like writing about.
  </div>
  {{ partial "contact_info" . }}
</div>
