<div class="container author-blurb">
  <div class="row justify-content-center">
    <div class="col-auto">
      <a href="/bin/">
        <button class="menu-icon">
          🗑️
        </button>
      </a>
    </div>
    <div class="col-auto">
      <a href="/food/">
        <button class="menu-icon">
          🍲
        </button>
      </a>
    </div>
    <div class="col-auto">
      <a href="/cocktails/">
        <button class="menu-icon">
          🍸
        </button>
      </a>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <a href="mailto:me@strategineer.com">
        <img class="rounded mx-auto d-block avatar-static" src="/img/fe_portrait.png" alt="Strat's Avatar">
        </div>
      </a>
    </div>
    <div class="col-auto">
      <div class="row justify-content-left footer-content">
        <div class="col-12 text-center">Name's Strat; I'm a rooster illusion and I write about whatever I feel like writing about.
        </div>
        <div class="col-12 text-center">
        {{ partial "contact_info" . }}
        </div>
      </div>
    </div>
  </div>
</div>
