<div class="container author-blurb">
  <div class="row justify-content-center">
    <div class="col-auto">
      <a href="{{ with .Parent }} {{ .Permalink }} {{ end }}">
        <img class="rounded avatar-static" src="/img/fe_portrait.png" alt="Strat's Avatar"/>
      </a>
    </div>
    <div class="col-md-6 col-auto align-self-center">
      <div class="row">
          <div class="col-auto text-center">
          Name's Strat; I'm a rooster illusion and I write about whatever I feel like writing about.
          </div>
      </div>
      <div class="row">
      {{ partial "contact_info" . }}
      </div>
    </div>
  </div>
</div>
