{{ $d := $.Site.Data.cv_fr }}
{{ $my_tags := $d.tags }}
<span data-pagefind-ignore>
  <a class="cv-anchor" id="en"></a>
  <div class="cv">
    <div class="d-flex justify-content-center cv-download-link">
      <a href="/cv/cv_fr_en.pdf" download="bill_tyros_cv_fr.pdf">
        Télécharger le CV en format PDF!
      </a>
    </div>
    <div class="d-flex justify-content-center cv-name">
      <div class="col-12 text-center display-6">
        {{ $d.name }}
      </div>
    </div>
    <div class="row text-center cv-email">
      <ul class="list-inline">
        <li class="list-inline-item">
          {{ $d.location }}
        </li>
        <li class="list-inline-item">
          <a href="https://strategineer.com/">strategineer.com</a>
        </li>
        <li class="list-inline-item">
          <a href="mailto:me@strategineer.com">me@strategineer.com</a>
        </li>
        <li class="list-inline-item">
          <a href="https://github.com/strategineer/">github.com/strategineer</a>
        </li>
      </ul>
    </div>
    <div class="row justify-content-center cv-content cv-readable">
      <div class="col-12 text-center cv-header">
        {{ $d.summary }}
      </div>
    </div>
    <div class="row justify-content-center cv-content cv-readable">
      <div class="col-12 text-center cv-header">
        <div class="d-flex">
          {{ range $v := $d.sidebar_section }}
          <div class="col">
            <div class="row cv-header-section text-center">
              <ul class="list-inline">
                {{ range $e := $v.list }}
                <li class="cv-header-item list-inline-item">
                  {{ if in $my_tags $e }}
                  <a href="{{ index $my_tags $e }}">{{ $e }}</a>
                  {{ else }}
                  {{ $e }}
                  {{ end }}
                </li>
                {{ end }}
              </ul>
            </div>
          </div>
          {{ end }}
        </div>
      </div>
      <div class="col-12 cv-main">
        {{ range $v := $d.main_section }}
        <div class="col-12 cv-main-section">
          <div class="cv-main-title">{{ $v.title }}</div>
          {{ range $e := $v.list }}
          <div class="col-12 cv-main-entry">
            <div class="row cv-main-entry-header">
              {{ $has_link := $e.link }}
              {{ if $has_link }}
              <a href="{{ $e.link }}">
                {{ end }}
                <div class="col text-left">
                  <div class="cv-main-entry-title">
                    {{ if $e.year }}
                    {{ $e.year }} /
                    {{ end }}
                    {{ $e.title }}
                    {{ if $e.hint }}
                    ({{ $e.hint }})
                    {{ end }}
                  </div>
                </div>
                {{ if $has_link }}
              </a>
              {{ end }}
              {{ if $e.tech }}
              <div class="col text-center">
                <div class="d-flex justify-content-center cv-main-entry-tech">
                  <ul class="list-inline">
                    {{ range $t := $e.tech }}
                    <li class="cv-tech-item list-inline-item">
                      {{ if in $my_tags $t }}
                      <a href="{{ index $my_tags $t }}">{{ $t }}</a>
                      {{ else }}
                      {{ $t }}
                      {{ end }}
                    </li>
                    {{ end }}
                  </ul>
                </div>
              </div>
              {{ end }}
            </div>
            {{ if $e.list }}
            <div class="d-flex justify-content-left cv-main-entry-bullets">
              <ul>
                {{ range $b := $e.list }}
                <li class="cv-bullet-item">{{ $b | htmlUnescape | safeHTML }}</li>
                {{ end }}
              </ul>
            </div>
            {{ end }}
          </div>
          {{ end }}
        </div>
        {{ end }}
      </div>
    </div>
  </div>
</span>