{{ $active_class := "btn-secondary" }}
{{ $inactive_class := "btn-dark" }}
{{ $is_food := hasPrefix .RelPermalink "/food/" }}

{{ $is_cocktails := hasPrefix .RelPermalink "/cocktails/" }}
{{ $is_authors := hasPrefix .RelPermalink "/authors" }}
{{ $is_books_tags := (hasPrefix .RelPermalink "/books/tags") }}
{{ $is_books := and (not $is_books_tags) (hasPrefix .RelPermalink "/books/") }}
{{ $is_tabletop := hasPrefix .RelPermalink "/tabletop/" }}
{{ $is_tools := hasPrefix .RelPermalink "/bin/" }}
{{ $is_blog := hasPrefix .RelPermalink "/blog/" }}
{{ $is_mappers := hasPrefix .RelPermalink "/mappers" }}
{{ $is_wads := or $is_mappers (hasPrefix .RelPermalink "/wads/") }}
{{/* HACK: This is a hack to remove the menu buttons from the meditations explorer tool in particular because it hides the buttons on mobile */}}
{{ if (not .Params.explorer) }}
  <div class="menu-buttons row justify-content-center">
    <div class="col-auto btn-toolbar" role="toolbar" aria-label="Main Toolbar">
      <div class="btn-group btn-group-lg">
        <a href="/blog/">
          <button
            tabindex="-1"
            type="button"
            aria-label="Go to Strat's blog"
            class="menu-button btn btn-lg {{ cond $is_blog $active_class $inactive_class }}"
          >
            <img
              class="icon icon-filter"
              alt="blog icon"
              src="/icons/journal-text.svg"
              width="32"
              height="32"
              label="Go to Strat's Blog"
            />
          </button>
        </a>
        <!-- 
        <a href="/tabletop/">
          <button
            tabindex="-1"
            type="button"
            aria-label="Go to Strat's posts"
            class="menu-button btn btn-lg {{ cond $is_tabletop $active_class $inactive_class }}"
          >
            <img
              alt="rpg icon"
              src="/icons/dice-6.svg"
              width="32"
              height="32"
              label="Go to Strat's RPG posts"
            />
          </button>
        </a>
      -->
        <a href="/authors/">
          <button
            tabindex="-1"
            type="button"
            aria-label="Go to Strat's bookshelf sorted by author"
            class="menu-button btn btn-lg {{ cond $is_authors $active_class $inactive_class }}"
          >
            <img
              class="icon icon-filter"
              alt="person icon"
              src="/icons/file-person.svg"
              width="32"
              height="32"
              label="Go to Strat's author's he's read"
            />
          </button>
        </a>
        <a href="/books/tags">
          <button
            tabindex="-1"
            type="button"
            aria-label="Go to Strat's bookshelf sorted by genre"
            class="menu-button btn btn-lg {{ cond $is_books_tags $active_class $inactive_class }}"
          >
            <img
              class="icon icon-filter"
              alt="tag icon"
              src="/icons/bookshelf.svg"
              width="32"
              height="32"
              label="Go to Strat's author's he's read"
            />
          </button>
        </a>
        <a href="/books">
          <button
            tabindex="-1"
            type="button"
            aria-label="Go to Strat's bookshelf sorted by date read"
            class="menu-button btn btn-lg {{ cond $is_books $active_class $inactive_class }}"
          >
            <img
              class="icon icon-filter"
              alt="book icon"
              src="/icons/book.svg"
              width="32"
              height="32"
              label="Go to Strat's books he's reading"
            />
          </button>
        </a>
        <a href="/wads">
          <button tabindex="-1" type="button" aria-label="Go to Strat's Doom Wad Review Zone sorted by date finished"
            class="menu-button btn btn-lg {{ cond $is_wads $active_class $inactive_class }}">
            <img class="icon icon-filter" alt="doom icon" src="/icons/doom.svg" width="32" height="32"
              label="Go to Strat's Doom Wad Review Zone " />
          </button>
        </a>
        <!-- 
      <a href="/bin/">
        <button type="button" aria-label="Go to Strat's Tools and Toys" class="btn btn-lg {{ cond $is_tools $active_class $inactive_class }}">
          <img alt="tools icon" src="/icons/tools.svg" width="32" height="32" label="Go to Strat's Tools and Toys"/>
        </button>
      </a>
      <a href="/cocktails/">
        <button type="button" aria-label="Go to Strat's cocktails" class="btn btn-lg {{ cond $is_cocktails $active_class $inactive_class }}">
          <img alt="cocktail icon" src="/icons/cup-straw.svg" width="32" height="32" label="Go to Strat's Cocktails"/>
        </button>
      </a>
      <a href="/food/">
          <button type="button" aria-label="Go to Strat's recipes" class="btn btn-lg {{ cond $is_food $active_class $inactive_class }}">
            <img alt="food icon" src="/icons/egg.svg" width="32" height="32" label="Go to Strat's Recipes"/>
          </button>
      </a>
-->
        {{ $tags_suffix := "/tags" }}
        {{ $pages := slice -}}
        {{ $is_tag_page := strings.HasSuffix .Section $tags_suffix }}
        {{ if $is_tag_page }}
          {{ $pages = index (index $.Site.Taxonomies .Section) .Title }}
        {{ else if strings.Contains .RelPermalink "authors" }}
          {{ $pages = where $.Site.RegularPages "Section" "books" }}
        {{ else }}
          {{ $pages = where $.Site.RegularPages "Section" .Section }}
        {{ end }}
        {{ $has_random_button := and ($pages) (not .Params.explorer) }}
        {{ if $has_random_button }}
          {{ $urls := slice }}
          {{ range $pages }}
            {{ $is_ramble := in (index .Params "blog/tags") "ramble" }}
            {{ if not $is_ramble }}
              {{ $urls = $urls | append .Permalink }}
            {{ end }}
          {{ end }}
          <!-- 
      <a onclick="goToRandomUrl({{ $urls }})">
        <button type="button" aria-label="Go to random post" class="btn btn-lg btn-light">
        <img loading="lazy" alt="shuffle icon" src="/icons/shuffle.svg" width="32" height="32" label="Go to a random page"/>
        </button>
      </a>
    -->
        {{- end -}}
      </div>
    </div>
  </div>
{{- end -}}
