{{ $active_class := "btn-outline-dark" }}
{{ $inactive_class := "btn-light" }}
{{ $is_food := hasPrefix .RelPermalink "/food/"}}
{{ $is_cocktails := hasPrefix .RelPermalink "/cocktails/"}}
{{ $is_books := hasPrefix .RelPermalink "/books/"}}
{{ $is_tools := hasPrefix .RelPermalink "/bin/"}}
{{ $is_blog := or (hasPrefix .RelPermalink "/blog/") (eq .RelPermalink "/")}}
{{/* HACK: This is a hack to remove the menu buttons from the meditations explorer tool in particular because it hides the buttons on mobile */}} 
{{ if (not .Params.explorer) }}
<div class="menu-buttons row justify-content-center">
  <div class="col-auto">
    <div class="btn-toolbar" role="toolbar" aria-label="Main Toolbar">
      <div class="btn-group btn-group-lg">
        <a href="/books/">
          <button type="button" class="btn btn-lg {{ cond $is_books $active_class $inactive_class }}">
            <img src="/icons/book.svg" width="32" height="32" label="Go to Strat's Books he's reading"/>
          </button>
        </a>
        <a href="/">
            <button type="button" class="btn btn-lg {{ cond $is_blog $active_class $inactive_class }}">
              <img src="/icons/journal-text.svg" width="32" height="32" label="Go to Strat's Blog"/>
            </button>
        </a>
        <!-- 
        <a href="/bin/">
          <button type="button" class="btn btn-lg {{ cond $is_tools $active_class $inactive_class }}">
            <img src="/icons/tools.svg" width="32" height="32" label="Go to Strat's Tools and Toys"/>
          </button>
        </a>
        <a href="/cocktails/">
          <button type="button" class="btn btn-lg {{ cond $is_cocktails $active_class $inactive_class }}">
            <img src="/icons/cup-straw.svg" width="32" height="32" label="Go to Strat's Cocktails"/>
          </button>
        </a>
        <a href="/food/">
            <button type="button" class="btn btn-lg {{ cond $is_food $active_class $inactive_class }}">
              <img src="/icons/egg.svg" width="32" height="32" label="Go to Strat's Recipes"/>
            </button>
        </a>
-->
      {{ $tags_suffix := "/tags" }}
      {{ $pages := slice -}}
      {{ $is_tag_page := strings.HasSuffix .Section $tags_suffix }}
      {{ if $is_tag_page }}
        {{ $pages = index (index $.Site.Taxonomies .Section) .Title }}
      {{ else }}
        {{ $pages = where $.Site.RegularPages "Section" .Section }}
      {{ end }}
      {{ $has_random_button := and ($pages) (not .Params.explorer) }}
      {{ if $has_random_button }}
        {{ $urls := slice }}
        {{ range $pages }}
        {{ $is_ramble := in (index .Params "blog/tags") "ramble" }}
        {{ if not $is_ramble }}
        {{ $urls = $urls | append .Permalink }}
        {{ end }}
        {{ end }}
        <a onclick="goToRandomUrl({{ $urls }})">
          <button type="button" class="btn btn-lg btn-light">
          <img src="/icons/shuffle.svg" width="32" height="32" label="Go to a random page"/>
          </button>
        </a>
      {{- end -}}
      </div>
    </div>
  </div>
</div>
{{- end -}}
