{{ $tags_suffix := "/tags" }}
{{ $pages := slice -}}
{{ $is_tag_page := strings.HasSuffix .Section $tags_suffix }}
{{ if $is_tag_page }}
  {{ $pages = index (index $.Site.Taxonomies .Section) .Title }}
{{ else }}
  {{ $pages = where $.Site.RegularPages "Section" .Section }}
{{ end }}
{{ $has_random_button := and ($pages) (not .Params.explorer) }}
{{ if $has_random_button }}
  {{ $urls := slice }}
  {{ range $pages }}
  {{ $is_ramble := in (index .Params "blog/tags") "ramble" }}
  {{ if not $is_ramble }}
  {{ $urls = $urls | append .Permalink }}
  {{ end }}
  {{ end }}
  <a onclick="goToRandomUrl({{ $urls }})">
    <button type="button" class="btn btn-lg btn-light">
    <img src="/icons/shuffle.svg" alt="Surprise me!" width="32" height="32" label="Go to a random page"/>
    </button>
  </a>
{{- end -}}
