{{ $current_page_permalink := .Permalink }}
{{ $n_max := 5 }}
{{ $pages := where $.Site.RegularPages "Section" .Section }}
{{ if eq .Section "blog" }}
  {{ $non_ramble_pages := slice }}
  {{ range $pages }}
    {{ if not (in (index .Params "blog/tags") "ramble") }}
      {{ $non_ramble_pages =  $non_ramble_pages | append .}}
    {{ end }}
  {{ end }}
  {{ $pages = $non_ramble_pages }}
{{ end }}
{{ $pages = where $pages "Permalink" "!=" $current_page_permalink }}
{{ if $pages }}
{{ $post_name := pluralize .Params.post_name }}
<div class="d-flex justify-content-center footer-shortlist-title">
  <h4>Recent {{ $post_name }}:</h4>
</div>
<div class="footer-shortlist-parent">
  <ul class="footer-shortlist-list">
    {{ range $pages | first $n_max }}
      <a href="{{ .Permalink }}">

        <li class="footer-shortlist-item">
          {{ .Render "title_text" }}
        </li>
      </a>
    {{ end }}
    {{ $n_pages_left := sub (len $pages) $n_max }}
    {{ if $n_pages_left }}
      <li class="footer-shortlist-archive">
        <a href="/{{ .Section }}">... with {{ $n_pages_left }} more {{ $post_name }} in the archive</a>
      </li>
    {{ end }}
  </ul>
</div>
{{ end }}
