{{ $n_max := 10 }}
{{ $pages := where $.Site.RegularPages "Section" .Section }}
{{ if $pages }}
{{ partial "menu_buttons" . }}
{{ $post_name := pluralize .Params.post_name }}
<div class="d-flex justify-content-center footer-shortlist-title">
  <h4>Recent {{ $post_name }}:</h4>
</div>
<div class="footer-shortlist-parent">
  <ul class="footer-shortlist-list">
    {{ range $pages | first $n_max }}
      <a href="{{ .Permalink }}">

        <li class="footer-shortlist-item"> {{ .Title }}</li>
      </a>
    {{ end }}
    {{ $n_pages_left := sub (len $pages) $n_max }}
    {{ if $n_pages_left }}
      <li class="footer-shortlist-archive">
        <a href="/{{ .Section }}">... with {{ $n_pages_left }} more {{ $post_name }} in the archive</a>
      </li>
    {{ end }}
  </ul>
</div>
{{ end }}
