{{- $name := humanize (pluralize .Data.Singular) -}}
{{- $mid := "tagged with" -}}
{{- $title := add "'" (index $.Site.Data.tag_mapping .Title | default .Title) "'" -}}
{{- if and (eq $name "Mappers") (ne .Title "Tags") -}}
{{- $name = "Maps" -}}
{{- $mid = "by" -}}
{{- $title = .Title -}}
{{- end -}}
{{- if and (eq $name "Authors") (ne .Title "Authors") -}}
  {{- $name = "Books" -}}
  {{- $mid = "by" -}}
  {{- $title = .Title -}}
{{- end -}}
{{- if and (eq $name "Books") (eq .Title "Tags") -}}
  {{- $name = "Books" -}}
  {{- $mid = "" -}}
  {{- $title = "" -}}
{{- end -}}
{{ if and (ne $name "") (ne $mid "") }}
  <div class="row justify-content-center text-center page-title">
    <div class="col h1">
      {{- $name }}
      {{ $mid }}
      {{ $title }}
    </div>
  </div>
{{ end }}
