<div class="container justify-content-center text-center page-title" data-pagefind-body>
  <div class="row">
    <h1>
      <a href="/{{ .Data.Plural }}">
            {{- $name := humanize (pluralize .Data.Singular) -}}
            {{- $mid := "tagged with" -}}
            {{- $title := add "'" .Title "'" -}}
            {{- if and (eq $name "Authors") (ne .Title "Authors") -}}
            {{- $name = "Books" -}}
            {{- end -}}
            {{- if and (eq $name "Books") (eq .Title "Tags") -}}
            {{- $mid = "by genre" -}}
            {{- $title = "" -}}
            {{- end -}}
            {{- $name }} {{ $mid }} {{ $title }}
        </a>
    </h1>
  </div>
</div>
