<div class="container justify-content-center text-center page-title">
  {{ partial "menu_buttons" . }}
  <div class="row">
    <h1>
        {{/* if should_title_be_link_to_home */}}
        <a href="/">
      {{/* end */}}
      {{ if eq .Section "reviews" }}
      {{ .Title }} Review
        {{ if in .Params.tags "thumbs_up"}} 
          {{ emojify ":thumbsup:" }}
        {{ else if in .Params.tags "thumbs_down"}} 
          {{ emojify ":thumbsdown:" }}
        {{ end }}
      {{ else }}
      {{ .Title }}
      {{ end }}
    {{/* if should_title_be_link_to_home */}}
        </a>
      {{/* end */}}
    </h1>
  </div>
</div>
