{{ $tag_name := "/tags" | printf "%s%s" .Section }}
{{ $tags := (.GetTerms $tag_name ) }}
{{ $is_page := eq .Kind "page" }}
{{ if $tags }}
  <div class="d-flex justify-content-center d-flex-inline-list text-center">
    <ul class="list-inline ul-inline">
      {{ range $tags }}
        {{ $pretty_tag := index $.Site.Data.tag_mapping .LinkTitle | default .LinkTitle }}
        {{ if collections.In (slice "currently-playing" "currently-reading" "did-not-finish" "slay" "trash" "unowned"
        "owned-but-unread")
        (lower $pretty_tag) }}
        {{ $pretty_tag = printf "%s%s%s" "[" $pretty_tag "]" }}
        {{ end }}
        <li class="list-inline-item li-inline">
          <a href="{{ .Permalink }}">
            {{ if $is_page }}
              <span data-pagefind-filter="tag">
                <p class="tag">{{ $pretty_tag }}</p>
              </span>
            {{ else }}
              <p class="tag">{{ $pretty_tag }}</p>
            {{ end }}
          </a>
        </li>
      {{ end }}
    </ul>
  </div>
{{ end }}
