{{ if .Params.links }}
<div class="d-flex justify-content-center d-flex-inline-list">
    <div class="text-center">
        <ul class="list-inline ul-inline">
            {{ range $index, $name_link_pair := .Params.links }}
            {{ $split_pair := split $name_link_pair "," }}
            <li class="list-inline-item li-inline">
                <a href="{{ index $split_pair 1 }}">{{ index $split_pair 0 }}</a>
            </li>
            {{ end }} 
        </ul>
    </div>
</div>
{{ end }}
