{{ $thumbnail := .Resources.GetMatch "thumbnail.*" }}
{{ if $thumbnail }}
<div class="row justify-content-center">
  <div class="col-auto align-self-center">
    <div class="d-flex justify-content-center readable">
      <div class="col-12">
        <div class="row">
            {{ with $thumbnail.Resize "x200 webp" }}
            <div class="col-mx-auto">
              <img loading="lazy" class="img-fluid rounded mx-auto d-block" width="{{ .Width }}" height="{{ .Height }}" src="{{ .RelPermalink }}">
            </div>
            {{ end }}
        </div>
      </div>
    </div>
  </div>
</div>
{{ end }}
