{{ define "main" }}
  <div class="blog-content container">
    {{ partial "title" . }}
    {{/*= page_info(current_article) */}}
    {{ partial "links" . }}
    {{/*= try_page_video(current_article) */}}
    {{ partial "images" . }}
    {{/*= try_page_audio(current_article) */}}
    <div class="row justify-content-center readable">
      {{ if in .Params.tags "fiction" }}
      <blockquote>
        <div class="col-12 text-center">
          This is a work of fiction. Names, characters, events and incidents are the products of the author’s imagination. Any resemblance to actual persons, living or dead, or actual events is purely coincidental.
        </div>
      </blockquote>
      {{ end }}
      {{ if in .Params.tags "ramble" }}
      <blockquote>
        <div class="col-12 text-center">
          This is a "ramble" blog post, it's sort of like a public journal with less structured and more experimental (read: bad) writing. Don't take it too seriously.
        </div>
      </blockquote>
      {{ end }}
      {{ .Content }}
      <blockquote class="blog-call-to-action">
        {{partial "contact_info" . }}
      </blockquote>
    </div>
    {{ partial "footer_desktop" . }}
  </div>
{{ end }}
