<div class="row justify-content-center footer-nav">
  <div>
    <a href="/index.html">Blog</a>
  </div>
  <div>
    <a href="/portfolio">Photography</a>
  </div>
  <div>
    <a href="mailto:me@strategineer.com">Contact</a>
  </div>
</div>
<div class="row justify-content-center footer-image">
  <img class="mx-auto avatar-static" src="/images/fe_portrait.png" alt="Bill's Avatar">
  <img class="mx-auto avatar-active" src="/images/fe_portrait_idle.gif" alt="Bill's Avatar Animated">
</div>
<div class="row justify-content-center footer-image-artist">
  <a href="https://twitter.com/pixelhenkie">Art by @PixelHenkie</a>
</div>
<div class="row justify-content-center footer-content">
    <div class="col-12 text-center">Name's Bill; I'm a software engineer. I write about video games, tech and life.
    </div>
</div>
