<div class="d-flex justify-content-center footer-image">
  <img class="mx-auto avatar-static" src="/images/fe_portrait.png" alt="Bill's Avatar">
  <img class="mx-auto avatar-active" src="/images/fe_portrait_idle.gif" alt="Bill's Avatar Animated">
</div>
<div class="row justify-content-center footer-content">
  <div class="col-12 text-center">Name's Bill; I'm a rooster illusion and I write about whatever I feel like writing about.
  </div>
  <div class="col-12 text-center">
    <a href="https://fraidyc.at">Follow me with fraidycat</a>, or your <a href="https://en.wikipedia.org/wiki/RSS">RSS reader of choice</a>, to be notified whenever I publish an essay!
  </div>
  <div class="col-12 text-center">
      I would love to hear from you! You can reach <a href="mailto:me@strategineer.com">me@strategineer.com</a>.
  </div>
</div>
