<nav class="footer">
  <div class="row justify-content-center">
    <div class="col-12">
      <div class="row justify-content-center">
        <img class="mx-auto" src="/images/portrait.png" style="height: 175px; width: 175px;" alt="Memoji of Bill">
      </div>
      <div class="row justify-content-center">
          <p class="text-center">I'm a software engineer living in Montreal, Canada. I mostly write about video games.
          </p>
          <p class="text-center">Read more <a href="/index.html">about me</a> or <a href="mailto:me@btyros.com">send me a message</a>.
          </p>
      </div>
      <div class="row justify-content-center">
      <%= page_tags(current_page) %>
      </div>
    </div>
  </div>
</nav>
