<nav class="footer">
  <div class="d-flex justify-content-center">
    <div class="col-12">
      <%= partial "article_paginator" %>
      <%= partial "article_tags" %>
      <%= partial "recent_articles" %>
      <%= partial "author_blurb" %>
    </div>
  </div>
</nav>
