<nav class="navbar sticky-top navbar-expand-md navbar-dark">
  <div class="ml-auto d-sm-flex d-block flex-sm-nowrap">
    <a class="navbar-brand" href="#">
      Strategineer
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navBarCollapse">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
  <div class="collapse navbar-collapse text-right" id="navBarCollapse">
    <ul class="navbar-nav navbar-center mx-auto flex-nowrap">
      <% ['index', 'blog', 'projects', 'reviews'].each do |page_name| %>
        <% if page_name == "blog" %>
          <% is_active = (current_page.path.include?("blog.html") or current_page.path.include?("journals/")) %>
        <% else %>
          <% is_active = current_page.path.include?(page_name) %>
        <% end %>
          <li class="nav-item <%= is_active ? "active" : "" %>">
              <a class="nav-link" href="/<%= page_name %>.html"><%= page_name != 'index' ? page_name.capitalize : "Home" %></a>
          </li>
      <% end %>
    </ul>
  </div>
</nav>
