<%= link_to "All Reviews", "/reviews.html" %>
<h4>Categories</h4>
    <ol>
        <% get_review_categories_data().each do |c| %>
            <li><%= link_to "#{c.name} (#{c.count})" , "/reviews/categories/#{c.category}.html" %></li>
        <% end %>
    </ol>
<h4>Tags</h4>
<ol>
    <% blog.tags.sort_by{|t| t[1].size }.reverse.each do |tag, articles| %>
        <li><%= link_to "#{tag} (#{articles.size})", tag_path(tag) %></li>
    <% end %>
</ol>

<h4>By Year</h4>
<ol>
    <% blog.articles.group_by {|a| a.date.year }.each do |year, articles| %>
        <li><%= link_to "#{year} (#{articles.size})", blog_year_path(year) %></li>
    <% end %>
</ol>
