<a class="to-top" onclick="window.scrollTo(0, 0);">
  <svg class="bi" focusable="false" style="fill: white;" width="32" height="32" role="img" aria-label="Go back to top">
    <use xlink:href="/bootstrap-icons.svg#arrow-up"/>
  </svg>
</a>
