<a class="to-top" focusable="false" href="#documentTop">
  <svg class="bi" focusable="false" style="fill: white;" width="32" height="32" role="img" aria-label="Go back to top">
    <use xlink:href="/bootstrap-icons.svg#arrow-up"/>
  </svg>
</a>
