<a class="to-top" href="#documentTop">
  <svg class="bi" style="fill: white;" width="32" height="32" role="img" aria-label="Go back to top">
    <use xlink:href="/bootstrap-icons.svg#arrow-up"/>
  </svg>
</a>
