---
title: Bill C. Tyros
---
<div class="row justify-content-center">
  <p class="lead">
    Hi! I'm Bill, I'm a programmer, I love video games and tackling tough challenges.
  </p>

  <p>
  Take a look at the work I've done if you're interested <%= link_to 'projects', '/projects.html' %>.
  </p>

  <p>
  You can contact me by email at <%= mail_to 'tyros.bill@gmail.com' , 'tyros.bill@gmail.com' %>.
  </p>

  <p>
  You can find me on these platforms:
  </p>
  <ul class="list-unstyled">
    <li><%= link_to 'Github', 'https://github.com/keikakub' %></li>
    <li><%= link_to 'LinkedIn', 'https://www.linkedin.com/in/billtyros/' %></li>
  </ul>
</div>
