---
title: "Infinite Randomized Steam Queue"
is_readable: true
is_explorer: true
---
<div class="jumbotron-fluid" style="margin: auto;">
  <div class="container">
    <p id="explorer-queue-count">Loading.</p>
    <h1 id="explorer-game-name" class="display-4">Loading.</h1>
    <a target="_blank" id="explorer-game-url" class="lead">Loading.</a>
  </div>
</div>
<a id="explorer-footer-button-another" class="btn explorer-footer-button" onclick="setNextDiscovery()" role="button">Another?</a>
<a id="explorer-footer-button-share" class="btn explorer-footer-button d-none" onclick="shareDiscovery()" role="button">Share</a>
