---
title: "Marcus Aurelius's Meditations Explorer"
is_readable: true
has_meditation: true
---
<div class="jumbotron-fluid" style="margin: auto;">
  <div class="container">
    <p id="meditation" onclick="searchForClickedWordInOtherMeditations()">Loading.</p>
    <p class="lead">
      <a class="meditations-info-link text-muted" href="https://en.wikipedia.org/wiki/Meditations">excerpt from Meditations by Marcus Aurelius</a>
    </p>
    <span class="text-muted">
  translated by Gregory Hays
    </span>
  </div>
</div>
<a id="meditation-footer-button-another" class="btn meditation-footer-button" onclick="setRandomMeditation()" role="button">Another?</a>
<a id="meditation-footer-button-share" class="btn meditation-footer-button d-none" onclick="shareMeditation()" role="button">Share</a>
