---
title: "Marcus Aurelius's Meditations on Demand"
is_readable: true
has_meditation: true
---
<div class="jumbotron-fluid" style="margin: auto;">
  <div class="container">
    <p id="meditation">Loading.</p>
    <p class="lead">
    - <a class="meditations-info-link" href="https://en.wikipedia.org/wiki/Meditations">Marcus Aurelius's Meditations</a>
    </p>
  </div>
</div>
<a id="meditation-another" onclick="setRandomMeditation()" class="btn" role="button">Another?</a>
