{{ $multi_table_name := printf "%s" (.Get 0) }}

{{ $table_names := after 1 .Params }}
<script type="text/javascript">
  function randomizeMulti{{- $multi_table_name | safeJS -}}() {
    combinedRows{{- $multi_table_name | safeJS }} = [].concat(
    {{- $i := 0 -}}  
    {{- range $t := $table_names -}}
      {{- if ne $i 0 -}}
      ,
      {{- end -}}
      rows{{- $t | safeJS -}}
      {{- $i = add $i 1 -}}
      {{- end -}}
    );
    document.getElementById("table_result_{{$multi_table_name}}").innerHTML = randomizeTable("{{ $multi_table_name }}",header{{- (index $table_names 0) | safeJS -}}, combinedRows{{- $multi_table_name | safeJS -}});
}
</script>
<div>
  <button onclick="randomizeMulti{{- $multi_table_name | safeJS -}}()">Pick random {{ $multi_table_name -}}!</button>
  <div id="table_result_{{$multi_table_name}}"></div>
</div>
