{{- $inner := .Inner -}}
{{- if strings.ContainsNonSpace $inner -}}
  {{ $todo := "TODO strat, use the rpg_table_randomizer.js code to implement a button that generates a random result" }}

  {{ $clean_rows := slice }}
  {{ $rows := split $inner "\n" }}
  {{ $header := "Table" }}
  {{ $i := 0 }}
  {{ range $r := $rows }}
    {{ if not (strings.HasPrefix $r "|") }}
      {{ continue }}
    {{ end }}
    {{ if eq $i 0 }}
      {{ $header = $r }}
    {{ end }}
    {{ $i = add $i 1 }}
    {{ if lt $i 3 }}
      {{ continue }}
    {{ end }}
    {{ if gt $i 13 }}
    {{ continue }}
    {{ end }}
    {{ $clean_rows = $clean_rows | append $r }}
  {{ end }}

  {{ $table_name := printf "%s" (.Get 0) }}

  <script type="text/javascript">
    function clickMe{{- $table_name | safeJS -}}() {
      header = "{{ $header }}";
      const table_config = {
        key: 'my_table',
        title: "{{ .Get 0 }}",
        tables: {
          default: [
          {{- range $r := $clean_rows -}}
          {"label": "{{- $r -}}"},
          {{ end }}
          ],
        }
      };
      const tableRoller = new TableRoller();
      const table = new RandomTable(table_config);
      const result = tableRoller.getTableResult(table);
      console.log(result)
      const a = header.split("|").map(c => c.trim()).filter(c => c)
      const b = result[0].result.split("|").map(c => c.trim()).filter(c => c)
      var c = a.map(function(e, i) {
        return [e, b[i]];
      });
      var d = c.map(function(e, i) {
        return `${c[i][0]}: ${c[i][1]}`;
      });
      document.getElementById("table_result_{{$table_name}}").innerHTML = d.join("<br>");
  }
  </script>
  <div>
    <button onclick="clickMe{{- $table_name | safeJS -}}()">Randomize {{ $table_name -}}!</button>
    <div id="table_result_{{$table_name}}"></div>
  </div>
    {{ $inner | markdownify }}
{{- end -}}
