{{- $inner := .Inner -}}
{{- if strings.ContainsNonSpace $inner -}}
  {{ $cut_set := " |\r\t" }}
  {{ $clean_rows := slice }}
  {{ $rows := split $inner "\n" }}
  {{ $header := "Table" }}
  {{ $i := 0 }}
  {{ range $r := $rows }}
    {{ if not (strings.HasPrefix $r "|") }}
      {{ continue }}
    {{ end }}
    {{ if eq $i 0 }}
      {{ $header = $r }}
    {{ end }}
    {{ $i = add $i 1 }}
    {{ if lt $i 3 }}
      {{ continue }}
    {{ end }}
    {{ $clean_rows = $clean_rows | append $r }}
  {{ end }}

  {{ $table_name := printf "%s" .Params.name }}

  {{ $result_count := .Params.count | default 3}}
  {{ $split_header := split $header "|"}}

  {{ $is_name_table := .Params.is_name_table | default false }}

  <script type="text/javascript">
    {{ if $is_name_table }}
      name_set["{{- $table_name | safeJS }}"] = [
        {{- range $r := $clean_rows -}}
        "{{- trim $r $cut_set -}}",
        {{ end }}
      ];
    {{ else if not (strings.Contains (index $clean_rows 1) "|") }}
      gen_data["{{- $table_name | safeJS }}"] = [
      {{- range $r := $clean_rows -}}
        "{{- trim $r $cut_set -}}",
      {{ end }}
      ];
    {{ else }}
    gen_data["{{- $table_name | safeJS }}"] = {
        {{- range $r := $clean_rows -}}
          {{ $weight_str := trim (index (split $r "|") 1) $cut_set }}
          {{ $v_str := trim (index (split $r "|") 2) $cut_set }}
          "{{ $weight_str }}": "{{- $v_str -}}",
        {{ end }}
    };
    {{ end }}
    function pickRandomlyFromTable{{- $table_name | safeJS -}}() {
     {{ if $is_name_table }}
       let result = name_list("{{ $table_name }}", {{ $result_count }});
     {{ else }}
       let result = generate_list("{{ $table_name }}", {{ $result_count }});
     {{ end }}
      document.getElementById("table_result_{{$table_name}}").innerHTML = result;
  }
  </script>
  {{ if not .Params.hide_button | default false }}
  <button onclick="pickRandomlyFromTable{{- $table_name | safeJS -}}()">Generate {{ $result_count }} {{ pluralize (humanize (index $split_header (sub (len $split_header) 2))) -}}</button>
  <br>
  <span id="table_result_{{$table_name}}"></span>
  <hr>
  {{ end }}
  {{ if .Params.show_table | default false }}
    {{ $inner | markdownify }}
  {{ end }}
{{- end -}}
