{{ $multi_table_name := printf "%s" (.Get 0) }}

{{ $table_names := after 1 .Params }}
<script type="text/javascript">
  function pickRandomlyFromMultiTable{{- $multi_table_name | safeJS -}}() {
    all_rows{{- $multi_table_name | safeJS }} = [
    {{- $i := 0 -}}  
    {{- range $t := $table_names -}}
      {{- if ne $i 0 -}}
      ,
      {{- end -}}
      rows{{- $t | safeJS -}}
      {{- $i = add $i 1 -}}
      {{- end -}}
    ];
    all_headers{{- $multi_table_name | safeJS }} = [
    {{- $i := 0 -}}  
    {{- range $t := $table_names -}}
      {{- if ne $i 0 -}}
      ,
      {{- end -}}
      header{{- $t | safeJS -}}
      {{- $i = add $i 1 -}}
      {{- end -}}
    ];
    document.getElementById("table_result_{{$multi_table_name}}").innerHTML = rollOnManyTables({{- $table_names -}},all_headers{{- $multi_table_name | safeJS -}}, all_rows{{- $multi_table_name | safeJS -}});
}
</script>
<div>
  <button onclick="pickRandomlyFromMultiTable{{- $multi_table_name | safeJS -}}()">Pick random {{ $multi_table_name -}}!</button>
  <div id="table_result_{{$multi_table_name}}"></div>
</div>
