<div class="d-flex justify-content-center readable">
  <div class="col-12">
    <div class="d-flex align-items-center justify-content-center">
      <div class="ratio ratio-16x9">
        {{ if .Get 1 }}
        <iframe
          src="https://www.youtube-nocookie.com/embed/{{ .Get 0 }}?showinfo=0&amp;start={{ .Get 1 }}"
          allowfullscreen
        ></iframe>
        {{ else }}
        <iframe
        src="https://www.youtube-nocookie.com/embed/{{ .Get 0 }}?rel=0&amp;showinfo=0"
        allowfullscreen
      ></iframe>
        {{ end }}
      </div>
    </div>
  </div>
</div>
