{{ define "main" }}
  <div class="books-content">
    {{ partial "title" . }}
    <div class="col-auto text-center">
    {{ partial "try_author" . }}
    </div>
    <div class="row justify-content-center">
      <div class="col-auto align-self-center">
      {{ partial "try_tags" . }}
      </div>
      <div class="col-auto align-self-center">
      {{ partial "try_thumbnail" . }}
      </div>
    </div>
    {{ partial "try_links" . }}
    {{ partial "try_video" . }}
    {{ partial "try_audio" . }}
    <div class="row justify-content-center readable">
      {{ if .Params.summary }}
        <p>
          {{ .Params.summary }}
        </p>
        <hr>
      {{ end }}
      {{ .Content }}
    </div>
  </div>
{{ end }}
